.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-icons-color);

  .header__& {
    margin-right: 90px;
  }

  .footer__& {
    display: block;
    margin-right: 0;
    margin-bottom: 20px;

    color: var(--acent-text-color);
  }

  &__accent {
    color: var(--accent-color);
  }
}
